---
layout: default
---

{%- include aside.html -%}
<article class="blobContent" data-title="content">
  <p>
    <a href="{{ site.baseurl }}/">
      <i class="fas fa-home" title="accueil"></i>
    </a> - 
    <a href="{{ site.baseurl }}/{{ page.collection }}">
      <i class="fas fa-map-marked" title="liste des lieux"></i>
      Autres ressources pour :
      {% assign collection_data = site.collections | where: "label", page.collection | first %}
      {{ collection_data.title | default: page.collection | capitalize }}
    </a>
  </p>
  <h1>{{ page.nom }}</h1>
  {%- include location-metas.html -%}
  {{ content }}
</article>